<include file="Public/meta"/>

<body>
<article class="cl pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-orders-edit">
        <input type="hidden" name="id" value="{{:I('id')}}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>收件人：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{$data.getman}}" placeholder="收件人" id="getman" name="getman">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>收件人号码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{$data.phone}}" placeholder="手机号码" id="phone" name="phone">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮编：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{$data.code}}" placeholder="邮箱" id="code" name="code">
            </div>
        </div>
        <div class="row cl" id="area">
            <label class="form-label col-xs-4 col-sm-3">所在城市：</label>
            <div class="formControls col-xs-8 col-sm-9" style="width: 190px"> <span class="select-box">
                <select class="select" size="1" name="province">
                    <option value="{{$data.proVal}}" selected>{{$data.province}}</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
                </span> </div>
                <div class="formControls col-xs-8 col-sm-9" style="width: 190px"> <span class="select-box">
                <select class="select" size="1" name="city">
                    <option value="{{$data.cityVal}}" selected>{{$data.city}}</option>
                    <foreach name="cityData" item="v" key="k">
                        <option value="{{$k}}">{{$v}}</option>
                    </foreach>
                </select>
                </span> </div>
                <div class="formControls col-xs-8 col-sm-9" style="width: 190px"> <span class="select-box">
                <select class="select" size="1" name="area">
                    <option value="{{$data.areaVal}}" selected>{{$data.area}}</option>
                    <foreach name="areaData" item="v" key="k">
                        <option value="{{$k}}">{{$v}}</option>
                    </foreach>
                </select>
                </span> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>详细地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{$data.address}}" placeholder="详细地址" id="address" name="address">
            </div>
        </div>
    </form>
</article>

<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/static/h-ui.admin/js/H-ui.admin.page.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
/*地址三级联动--显示省份*/
$('#form-orders-edit select[name=province]').one('focus', function () {
    // ajax请求
    $.ajax({
        url: '{{:U("changeProvince")}}',
        success: function(data) {
            // 清空下拉框
            $('#form-orders-edit select[name=province]').html('<option value="{{$data.proVal}}" selected>{{$data.province}}</option>');
            for (var k in data) {
                $('<option></option>').html(data[k].area_name).val(data[k].id).appendTo('#form-orders-edit select[name=province]');
            }
        }
    });
});
/*地址三级联动--显示市*/
$('#form-orders-edit select[name=province]').change(function() {
    // 清空下级的选项
    $('#form-orders-edit select[name=city]').html('<option value="" selected>请选择市</option>');
    $('#form-orders-edit select[name=area]').html('<option value="" selected>请选择区</option>');

    // ajax请求
    $.ajax({
        url: '{{:U("changeArea")}}',
        data: {'pid': this.value},
        success: function(data) {
            for (var k in data) {
                $('<option></option>').html(data[k].area_name).val(data[k].id).appendTo('#form-orders-edit select[name=city]');
            }
        }
    });
});
/*地址三级联动--显示区*/
$('#form-orders-edit select[name=city]').change(function() {
    // 清空下级的选项
    $('#form-orders-edit select[name=area]').html('<option value="" selected>请选择区</option>');

    // ajax请求
    $.ajax({
        url: '{{:U("changeArea")}}',
        data: {'pid': this.value},
        success: function(data) {
            for (var k in data) {
                $('<option></option>').html(data[k].area_name).val(data[k].id).appendTo('#form-orders-edit select[name=area]');
            }
        }
    });
});


// $(function(){
//     $('.skin-minimal input').iCheck({
//         checkboxClass: 'icheckbox-blue',
//         radioClass: 'iradio-blue',
//         increaseArea: '20%'
//     });

//     $("#form-orders-edit").validate({
//         rules:{
//             username:{
//                 required:true,
//                 minlength:2,
//                 maxlength:16
//             },
//             sex:{
//                 required:true,
//             },
//             mobile:{
//                 required:true,
//                 isMobile:true,
//             },
//             email:{
//                 required:true,
//                 email:true,
//             },
//             uploadfile:{
//                 required:true,
//             },

//         },
//         onkeyup:false,
//         focusCleanup:true,
//         success:"valid",
//         submitHandler:function(form){
//             $(form).ajaxSubmit();
//             var index = parent.layer.getFrameIndex(window.name);
//             parent.$('.btn-refresh').click();
//             parent.layer.close(index);
//         }
//     });
// });
</script>
</body>
</html>