<include file="Public/meta"/>
<include file="Public/header"/>
<include file="Public/menu"/>

<!-- <block name="main"> -->
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 订单管理 <span class="c-gray en">&gt;</span> 订单管理<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
            <article class="cl pd-20">
            <div class="text-c"> 日期范围：
                <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;">
                -
                <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;">
                <input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="">
                <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜订单</button>
            </div>

            <div class="mt-20">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                        <tr class="text-c">
                            <th width="25"><input type="checkbox" name="" value=""></th>
                            <th width="40">ID</th>
                            <th width="100">订单编号</th>
                            <th width="60">商品ID</th>
                            <th width="70">收件人</th>
                            <th width="100">收件人号码</th>
                            <th width="150">地址</th>
                            <th width="250">留言</th>
                            <th width="65">邮编</th>
                            <th width="100">下单时间</th>
                            <th width="70">状态</th>
                            <th width="70">总价</th>
                            <th width="100">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-c">
                            <td><input type="checkbox" value="1" name=""></td>
                            <td>1</td>
                            <td>12345678901234</td>
                            <td>40</td>
                            <td>一个人</td>
                            <td>111111111</td>
                            <td class="text-l">北京市 海淀区</td>
                            <td class="text-l">加辣不辣不给钱</td>
                            <td>111111</td>
                            <td>2014-6-11 11:11:42</td>
                            <td class="td-status"><span class="label label-success radius">已启用</span></td>
                            <td>1111.11</td>
                            <td class="td-manage"><a style="text-decoration:none" onClick="member_stop(this,'10001')" href="javascript:;" title="查看详情"><i class="Hui-iconfont">&#xe631;</i></a> <a title="编辑" href="javascript:;" onclick="order_edit('编辑','order-edit.html','4','','410')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="order_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
        <script>
            /*订单-编辑*/
            function order_edit(title,url,id,w,h){
                layer_show(title,url,w,h);
            }
            /*订单-删除*/
            function order_del(obj,id){
                layer.confirm('确认要删除吗？',function(index){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                });
            }
        </script>
<!-- </block> -->
<include file="Public/footer"/>